html {
	height: 100%;
	background-color: white;
}

body {
	width: 70%;
	height: 100%;
	margin: 0px auto;
	background-color: #f49e42;
	position: relative;
}

#bt-login {
	text-decoration: none;
	color: white;
}

#header-content {
	text-align: center;
	position: relative;
	margin: 0px auto;
}

#footer-content {
	text-align: center;
	position: fixed;
	bottom: 0px;
	margin: 0px auto;
	width: inherit;
}

#header-content-first {
	color: #590a91;
	font-weight: bold;
	font-size: 18px;
}

#footer-content-first {
	color: #590a91;
	font-size: 14px;
}

@import "bourbon";

.wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
}

.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);

	.form-signin-heading,
	.checkbox {
		margin-bottom: 30px;
	}

	.checkbox {
		font-weight: normal;
	}

	.form-control {
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		@include box-sizing(border-box);

		&:focus {
			z-index: 2;
		}
	}

	input[type="text"] {
		margin-bottom: -1px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type="password"] {
		margin-bottom: 20px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.break-question {
	height: 3px;
	background-color: #f10a0a;
}

.list-group.panel > .list-group-item {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

.bs-example{
	padding: 10px;
}

#count-down {
	width:inherit;
	height: 5%;
	font-weight: bold;
	font-size: 18px;
	color: #4a08af;
}

#condition-preview {
	overflow: hidden;
	width:inherit;
	height: 5%;
}

#form-test {
	overflow: scroll;
	height: 85%
}

#submit-test {
	height: 5%
}

.arrow-down {
	width: 8px;
	float: right;
}

.arrow-right {
	width: 8px;
	margin-right: 5px;
}

.radio-test {
	display: inline;
	margin-right: 5px
}

.answer-test {
	display: inline;
}